<!DOCTYPE html>
<html>
  <head>
    <title>WtfsOpenRightMeow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="header">
      <div class="left small-cap main box">
        <%= Cat.get_and_display({ category: "caturday", size: "small", css_class: "short" }).html_safe %>
        <h1 class="inline">Wtf's Open Right Meow?</h1>
      </div>
      <div class="right side box">
        <% if logged_in? %>
          <form action="/sessions/1" method="POST">
            <input type="hidden" name="_method" value="DELETE"  />
            <input type="submit" value="Logout" class="button-as-link"/>
          </form>
        <% else %>
          <% if !defined? login %>
            <%= render partial: "/sessions/new" %>
          <% end %>
          <a href="/users/new">Register</a>
        <% end %>
        <a href="/">Home</a>
      </div>
    </div>
    <div class="body">
      <%= yield %>
    </div>
  </body>
</html>
